<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://bootswatch.com/darkly/bootstrap.css" media="screen" rel="stylesheet">

<script>





</script>
<form method="post" enctype='multipart/form-data'>
  <div class="uploads"><input class="file btn btn-primary"  type='file' name='myfile'/>
  </div>
<input class="btn btn-primary" type='submit' value='Upload!'/>
</form>
