@font-face {
  font-family: 'sweet_home_oklahomaregular';
  src: url('fonts/sweet_home_oklahoma-webfont.eot');
  src: url('fonts/sweet_home_oklahoma-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sweet_home_oklahoma-webfont.woff') format('woff'), url('fonts/sweet_home_oklahoma-webfont.ttf') format('truetype'), url('fonts/sweet_home_oklahoma-webfont.svg#sweet_home_oklahomaregular') format('svg');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'traveling__typewriterregular';
  src: url('fonts/travelingtypewriter-webfont.eot');
  src: url('fonts/travelingtypewriter-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/travelingtypewriter-webfont.woff') format('woff'), url('fonts/travelingtypewriter-webfont.ttf') format('truetype'), url('fonts/travelingtypewriter-webfont.svg#traveling__typewriterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.gallery{
  font-family: 'traveling__typewriterregular' !important;

}
.well h2{
  font-family: 'traveling__typewriterregular' !important;
  font-weight: bold;
text-shadow: 5px 5px 0 #035;
}

.navbar-header{
  font-family: 'sweet_home_oklahomaregular';

}
.navbar-nav{
  font-family: 'traveling__typewriterregular' !important;
font-weight: bold;
}

.titlebig{
  text-align: right;
  font-family: 'sweet_home_oklahomaregular';
font-size: 300px;
margin-top: -120px;
color:#eee;
text-shadow:0 0 1px #000, 1px 1px 10px #057;

}
.desc{
  text-align: right;
  margin-top: -120px;
color: #ccc;
font-family: Signika;
font-size: 24;
text-shadow:0 0 1px #09c, 0 0 10px #000
}
.navbar-brand {
  font-size: 100px;
  margin-top: -40px;
}
.banner {
  background: url('../banner.jpg') center no-repeat;
  height: 300px;
  width: 100%;

  /*-webkit-filter: opacity(90%) blur(1px) saturate(1.2);*/
}
.gallery, .contact {
  display: none;
  opacity: 0;
}
.banner.title{
  font-family: 'traveling__typewriterregular';

  font-size: 40px;
}
a img {
  border: 2px solid #ccc !important;
  border-radius: 150px;
  opacity: .5;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  margin: 10px;
}
a img:hover {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.presentation{
  margin: 10px;
  padding: 10px;
  font-family: Signika;
  color: #ccc;
}
.left {
  margin: 0;
  padding: 0;
  border-right: 1px solid #fff;
  height: 100%;
  position: absolute;
  left: 0;
  transition: background .3s ease-in-out;
}
.left p {
  -webkit-transform: rotate(-90deg);
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 70px;
}
.well:hover > h2 {
  background: #057;
  transition: background 1s ease-in-out;
}
h2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #777;
  margin-bottom: 10px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  border-bottom:  rgba(55, 90, 127, 1) 2px solid !important;
}
.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}
 .full.description{
   color:#09c;
   text-align: right !important;
 }
 .mod.description{
   color:#09c;
   margin-top: 25px;
 }
 .error{
   color:#f00;
 }
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(55, 90, 127, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(34, 34, 34, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(204, 204, 204, 1);
    background-color: rgba(55, 90, 127, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(204, 204, 204, 1);
    background-color: rgba(48, 48, 48, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(204, 204, 204, 1);
    background-color: rgba(48, 48, 48, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #303030;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #303030;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #303030;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #222222;
}



.top {
  margin-top: 60px;
}
